asgiref==3.8.1
bandit==1.7.8
certifi==2024.2.2
charset-normalizer==3.3.2
cloudinary==1.40.0
Django==4.2.13
django-cloudinary-storage==0.3.0
greenlet==3.0.3
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
pbr==6.0.0
pillow==10.3.0
pygments==2.18.0
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
six==1.16.0
SQLAlchemy==2.0.30
sqlparse==0.5.0
stevedore==5.2.0
typing-extensions==4.11.0
urllib3==2.2.1
